 
body {
    font-size: 20px;
  }
  
  .users {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .user {
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .user > div {
    margin-top: 1rem;
    color: #ccc;
  }

  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border: 1px dotted rgb(190, 190, 190);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
    padding: 5px 100;
    border-radius: 6px;
    border-color: rgb(214, 214, 214);
    border-width: 1px;
    border-style: dashed;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  